.cover__title{
    padding: 245px 312px 32px 312px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0;
    position: relative;
}

@media screen and (max-width: 320px) {
    .cover__title {
        padding: 33px 16px 16px 16px;
        font-size: 32px;
        line-height: 35px;
    }
}
